[submodule "dislocker"]
	path = dislocker
	url = https://github.com/Aorimn/dislocker.git
[submodule "modules/scan/yara/signature-base"]
	path = modules/scan/yara/signature-base
	url = https://github.com/Neo23x0/signature-base.git
[submodule "modules/scan/detect-it-easy/DIE-engine"]
	path = modules/scan/detect-it-easy/DIE-engine
	url = https://github.com/horsicq/DIE-engine.git
[submodule "modules/scan/detect-it-easy/Detect-it-easy"]
	path = modules/scan/detect-it-easy/Detect-it-easy
	url = https://github.com/horsicq/Detect-It-Easy.git
[submodule "modules/analysis/sleuthkit-mactime/SleuthKit"]
	path = modules/analysis/sleuthkit-mactime/SleuthKit
	url = https://github.com/sleuthkit/sleuthkit.git
[submodule "modules/scan/regripper/RegRipper4.0"]
	path = modules/scan/regripper/RegRipper4.0
	url = https://github.com/keydet89/RegRipper4.0.git
